body{
    background-color: white;
}

h2{ 
    font-family: Californian FB;
    font-weight: bold;
}
h3{
  font-family: Californian FB;
  font-weight: bold;
   margin-top: 10%;
}
h6{
  font-family: Californian FB;
  color: dimgray;
  text-align: center;

}
img{
    max-width: 100%;
    display: block;
}
p{
  font-family: Gotham Thin;

}
#pcalstyle{
  font-family: Californian FB !important;
 font-size: 11px;
 font-weight: bold;
}
#contcont{
  background-color: #fafafa;
  
}
.profile-img{
  width: 100%;
  position: relative;
  }
  
  .img-responsive{
  max-width: 100%;
  height: auto;
  }
  
  .img-bottom-arrow{
  position: absolute;
  
  
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: 50px;
  }
  .img-bottom-scroll{
    position: absolute;
    
    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    }
 
  .img-top{
  position: absolute;
  
    top: 50px;
    
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
  }
  li{
    font-family: Californian FB;
   
  }
  a{
    text-decoration: none;
    color: dimgray;
   
  }
  a:hover{
    text-decoration: none;
    color: dimgray;
  }